p{
    font-family: verdana;
    background-color: rgb(183, 226, 211) ;
    padding: 0%;
    margin: 0%;
    
}

.center{
    text-align: center;
}

#nome{
    text-align: center;
    color: blue;
}
